.gradient {
    background: #918b6a;
    background: linear-gradient(0deg,rgba(145, 139, 106, 1) 31%, rgba(186, 168, 114, 1) 65%, rgba(245, 206, 122, 1) 95%);


}

.my-tittle {
    font-family: 'Times New Roman', Times, serif;
}


